.extract {
    padding: 1em;

    .extract__category {
        text-align: center;
        padding: 0 .8em;
        background-color: #231B1B;
        color: #fff;
        font-weight: 300;
        float: right;
    }
    
    .extract__card {
        border: 2px solid #231B1B;
    }

    .extract__content {
        clear: right;
        background-color: rgba(115, 107, 146, .3);
        margin: 0;
        padding: 1em;
    }

    .extract__sources {
        text-align: right;
        margin: 0;
        background-color: #736B92;
    }
}

