/* - - - - - - - - - -> HEADER <- - - - - - - - - - */
.header {
  display: flex;
  flex-direction: column;
  background-color: #231B1B;
  color: #fff;
}
.header .header__nav {
  width: 100%;
  display: none;
}
.header .header__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header .header__list-item {
  width: 100%;
  text-align: center;
  background-color: rgba(35, 27, 27, 0.5);
  border-bottom: 1px solid #231B1B;
}
.header .header__link {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #231B1B;
  text-transform: uppercase;
}
.header .header__titles {
  padding: 1em 0 0 0.7em;
}
.header .header__first-title, .header .header__second-title {
  font-family: "Cormorant Garamond", serif;
}
.header .header__first-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}
.header .header__second-title {
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 0;
}
.header .header__title-link {
  text-decoration: none;
  color: #fff;
}
.header .header__select {
  font-family: "Cormorant Garamond", serif;
  background-color: #231b1b;
  color: #fff;
  font-size: 1em;
  border: none;
  text-align-last: center;
}

.burger {
  position: absolute;
  top: 1.5em;
  right: 1.7em;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger .burger__line {
  width: 100%;
  height: calc(100% / 8);
  background-color: #fff;
}

/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */
@media all and (min-width: 768px) {
  .burger {
    display: none;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
  }
  .header .header__nav {
    display: block;
    width: unset;
  }
  .header .header__list {
    flex-direction: row;
    align-items: center;
  }
  .header .header__list-item {
    background-color: #231b1b;
    width: 8em;
  }
  .header .header__link {
    color: #fff;
    padding: 0;
  }
}
@media all and (min-width: 992px) {
  .header {
    padding: 0 1em;
  }
}
.extract {
  width: 90%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.extract .extract__category {
  display: inline-block;
  align-self: flex-end;
  text-align: center;
  padding: 0 0.8em;
  background-color: #231B1B;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;
  font-weight: 300;
}
.extract .extract__card {
  overflow: hidden;
  border-radius: 0.5em;
}
.extract .extract__content {
  background-color: rgba(115, 107, 146, 0.3);
  margin: 0;
  padding: 1em;
}
.extract .extract__sources {
  margin: 0;
  background-color: #736B92;
  padding: 0 1em;
  text-align: right;
}

/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */
@media all and (min-width: 768px) {
  .extract {
    max-width: 800px;
  }
}
@media all and (min-width: 1200px) {
  .extract {
    max-width: 900px;
  }
}
.buttons {
  width: 50%;
  text-align: center;
}
.buttons .buttons__btn {
  margin: 0.5em 0;
}
.buttons .buttons__options {
  font-size: 0.9em;
  border: 1px solid #736b92;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
}
.buttons .buttons__generate {
  font-size: 1.4em;
  padding: 0.2em 0.5em;
  background-color: #736b92;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}
.buttons .buttons__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #736b92;
  text-decoration: none;
}
.buttons .buttons__options:hover {
  box-shadow: rgba(35, 27, 27, 0.5) 0 0 3px;
}
.buttons .buttons__generate:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* - - - - - - - - - -> FOOTER <- - - - - - - - - - */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(35, 27, 27, 0.2);
}
.footer .footer__text span {
  color: #736B92;
  font-weight: 600;
}
.footer .footer__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.footer .footer__link {
  padding: 0 0.5em;
}
.footer .footer__text, .footer .footer__list {
  margin: 0;
  color: #231B1B;
}
.footer .footer__link {
  color: #231B1B;
}
.footer .footer__link:hover {
  color: #736B92;
}

/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Crimson Text", serif;
  background-color: #e3e3e3;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

/* - - - - - - - - - -> Extracts counter <- - - - - - - - - - */
.counter__div {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  border: 1px solid #231b1b;
}

/* - - - - - - - - - -> Description <- - - - - - - - - - */
.description {
  width: 90%;
}
.description .description__content {
  text-align: center;
}

/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */
@media all and (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
