/* - - - - - - - - - -> HEADER <- - - - - - - - - - */
.header {
    display: flex;
    flex-direction: column;
    background-color: #231B1B;
    color: #fff;

    .header__nav {
        width: 100%;
        display: none;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .header__list-item {
        width: 100%;
        text-align: center;
        background-color: rgba(35, 27, 27, .5);
        border-bottom: 1px solid #231B1B;
    }

    .header__link {
        display: block;
        padding: .5em 0;
        text-decoration: none;
        color: #231B1B;
        text-transform: uppercase;
    }

    .header__titles {
        padding: 1em 0 0 .7em;
    }

    .header__first-title, .header__second-title {
        font-family: 'Cormorant Garamond', serif;
    }

    .header__first-title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.5em;
        margin: 0;
    }
    
    .header__second-title {
        font-size: .9em;
        font-weight: 400;
        margin-top: 0;
    }
}

.burger {
    position: absolute;
    top: 1.5em;
    right: 1.7em;
    width: 1.7em;
    height: 1.7em; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .burger__line {
        width: 100%;
        height: calc(100% / 8);
        background-color: #fff;
    }
}



/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */

@media all and (min-width: 768px) {
    .burger {
        display: none;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5em;
        
        .header__nav {
            display: block;
            width: unset;
        }

        .header__list {
            flex-direction: row;
            align-items: center;
        }

        .header__list-item {
            background-color:rgba(35, 27, 27, 1);
            width: 8em;
        }

        .header__link {
            color: #fff;
            padding: 0;
        }
    }
}


@media all and (min-width: 992px) {
    .header {
        padding: 0 1em;
    }
}

