@import 'header';
@import 'extract';
@import 'buttons';
@import 'form';
@import 'footer';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    background-color: #e3e3e3;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* - - - - - - - - - -> Description <- - - - - - - - - - */

.description {
    width: 90%;

    .description__content {
        text-align: center;
    }
}



/* - - - - - - - - - - > MEDIAS < - - - - - - - - - - */

@media all and (min-width: 992px) {
    body {
        font-size: 18px;
    }
}